= haml :errors, :layout => false
%form(action="/events/#{@event.id}" method="POST")
  %input(type="hidden" name="_method" value="PUT")
  %fieldset
    %legend Update this event
    = haml :form, :layout => false
  %input(type="submit" value="Update") or <a href='/events'>cancel</a>